<div id="page-content" class="d-flex flex-column min-vh-100">


<h1 class="text-center pt-2">Articles listing</h1>

<!--
<div class="apple_pagination">
    <%= will_paginate @article, :container => false %>
  </div>
-->
<%= render 'article' %>

<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @article %>
    </div>
    <%= will_paginate @article, :container => false %>
  </div>
  
</div>