<div id="page-content" class="d-flex flex-column min-vh-100">

<div class="container p-4" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Test App</h1>
      <p class="lead">This is my practise blog application.</p>
    <hr class="my-4">
      <p> 
        You can read other people's articles, and if you create an account
        you can also write and edit articles.
      </p>
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>




</div>