@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: lightgreen;
}

#logo {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.navbar-toggler {
    background-color: black;
}

.card {
    text-align: center;
}

#page-content {
    background-color: lightgrey;
}